{% extends "base.html" %}


{% block content %}

<h1>This is ingredient template</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Unit price</th>
    </tr>
    {% for ingredient in ingredient_list %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td>{{ ingredient.unit }}</td>
        <td>{{ ingredient.unit_price }}</td>
        <td><a href="update/{{ ingredient.pk }}"><button>Edit</button></a></td>
        <td><a href="delete/{{ ingredient.pk }}"><button>Delete</button></a></td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'ingredient_create' %}">Add ingredient</a>

{% endblock %}

