{% extends "base.html" %}


{% block content %}

<h1>This is recipe req template</h1>

<table>
    <tr>
        <th>Menu item</th>
        <th>ingredient</th>
        <th>Quantity</th>
    </tr>
    {% for reciperequirement in reciperequirement_list %}
    <tr>
        <td>{{ reciperequirement.menu_item }}</td>
        <td>{{ reciperequirement.ingredient }}</td>
        <td>{{ reciperequirement.quantity }}</td>
        <td><a href="update/{{ reciperequirement.pk }}"><button>Edit</button></a></td>
        <td><a href="delete/{{ reciperequirement.pk }}"><button>Delete</button></a></td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'reciperequirement_create' %}">Add recipe requirement</a>

{% endblock %}
